header {
    background-color:#92d8c1;
    color: white;
    font-size: 24px;
    margin-top: 0.1em;
}

.row{
    mrgin-top:0.1em;
}
.jumbotron {
    margin-top:0.1em
}

.display-4 {
    font-size: 16px;
}

.nav justify-content-end {
    color: grey;
}

footer {
    color: white;
    text-align: center;
}

/* Container needed to position the button. Adjust the width as needed */
.thumbnail {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .thumbnail img {
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 1em;
      margin-right: 1em;
      width:230px
      height:225px;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .thumbnail .btn {
    position: absolute;
    top: 80%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #92d8c1;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 225px
  }
  
  .thumbnail .btn:hover {
    background-color: black;
  }