header {
    background-color:#92d8c1;
    color: white;
    font-size: 24px;
    margin-top: 0.1em;
}

.row{
    margin-top:0.1em;
}

.jumbotron {
    margin-top:0.1em
}

#navbarfont {
    color: lightgray;
}

h1 {
    color: #92d8c1; 
    font: 24px;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    color: white;
    text-align: center;
}

#footer {
    background-color:darkgray;
}

/* Container needed to position the button. Adjust the width as needed */
.thumbnail {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .thumbnail img {
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 1em;
      margin-right: 1em;

  }
  
  /* Style the button and place it in the middle of the container/image */
  .thumbnail .btn {
    position: absolute;
    top: 80%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #92d8c1;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 225px
  }
  
  .thumbnail .btn:hover {
    background-color: black;
  }

.formgroup {
    margin-bottom: 3em;
}

  #contactformcol {
      margin-top: 3em;
      margin-left: 3em;
      margin-bottom: 3em;
  }

#submitbtn {
      margin-left: 3em;
      background-color:#92d8c1;
      border: none;
  }