header {
    background-color:#92d8c1;
    color: white;
    font-size: 24px;
    margin-top: 0.1em;
}

.jumbotron {
    margin-top:0.1em
}

.display-4 {
    font-size: 16px;
}

.nav justify-content-end {
    color: grey;
}

footer {
    color: white;
    text-align: center;
}